{% extends 'base.html.twig' %}

{% block title %}Page Facebook{% endblock %}

{% block body %}
    <h1>Vous êtes connecté !</h1>
    <p>Le token est visible dans la console (dans les cookies 🍪).</p>
{% endblock %}
