<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('/dist/bootstrap/css/default/bootstrap.min.css') }}"/>
			<link rel="stylesheet" href="{{ asset('/dist/font-awesome-4.7.0/css/font-awesome.min.css') }}"/>
			<link rel="stylesheet" href="{{ asset('/dist/font-awesome-4.7.0/css/font-awesome-animation.css') }}"/>
			<link rel="stylesheet" href="{{ asset('/dist/bootstrap-datetimepicker/css/tempusdominus-bootstrap-4.min.css') }}"/>
			<link rel="stylesheet" href="{{ asset('/dist/select2/css/select2.min.css') }}"/>
			<link rel="stylesheet" href="{{ asset('/dist/select2/css/select2-bootstrap4.min.css') }}"/>
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="{{path('home')}}">Home</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="{{path('admin')}}">Accéder à Facebook</a>
						</li>
					</ul>
				</div>
				{% if app.user %}
					<div class="mb-3">
						{{ app.user.username }},
						<a href="{{ path('logout') }}">Déconnexion</a>
					</div>
				{% endif %}
			</nav>
			{% block body %}{% endblock %}
			{% block javascripts %}{% endblock %}
		</div>
	</body>
</html>
